<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= product.category.name if product.category %> <!-- Show category name -->
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Supplier:</strong>
    <%= product.supplier.name if product.supplier %>
  </p>
</div>
