<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Products" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <div class="relative group">
      <button class="btn btn-primary flex items-center" type="button" id="dropdownMenuButton">
        New Product
        <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
      <div class="absolute right-0 hidden group-hover:block hover:block bg-white shadow-lg mt-2 rounded-lg z-10 w-48">
        <div class="absolute inset-0 top-[-10px] h-[10px]"></div>
        <%= link_to "Add product without variant", new_product_path(variant: false), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-t-lg" %>
        <%= link_to "Add product with variant", new_product_path(variant: true), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-b-lg" %>
      </div>
    </div>
  </div>
  <div id="products" class="min-w-full">
    <% @products.each do |product| %>
      <%= render product %>
      <p>
        <%= link_to "Show this product", product, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>